language: php
php:
- 7.3
- 7.4
- 8.0
- 8.1
install:
- composer install --no-interaction
- php -v
- phpunit --version
- echo "$TRAVIS_TAG"
- echo "$TRAVIS_COMMIT"
- echo "$TRAVIS_BUILD_NUMBER"
before_deploy:
- php ./bin/build.php
- export RELEASE_PKG_FILE=$(ls build/*zip)

deploy:
  provider: releases
  api_key:
    secure: QM1l+bhiQOLnZaRWVG+9KJ4sx8k2qKD4zveFyh9N1hHI3SV1zv3UKrHR3O2a6RL433smzBhwuCVmz5TT0m/V2yixl7ti7Bij7ENNqrvTWJTvAUbF5gCmXZbVmjBxggAVSsWo3szZgMSe1dDrdBkEQwOTADp9vUv49GhPLRCjfSr0+AR2woPhL6dphwpmha6UIl1eSDF6StaIVf+KIj1v794oAyWqe2sWjsPP9CwYZeNTJXMZwvSClKD7MTRgtbYJJYwkCmVWUJwqGLEbHCUMRrSUsvLkQkmlEymYS2T9buCnUHSUSrHe23UKyCYhUTFxDqSyuYsGbtpa7mdLe6ShqHl6PrkIsyugkXfAw6Td+M8VEyaAD68+7xhw6NEJHo7mpQzHLrd+t2jIfQgD6d3NsiioTdv5srgyMos1X+yjjM4f9dqzmp8ltaQXlcBgo+WKPW9V98rJCLR+UaCoyScbi/jKH/CdQUhdkIP1QMfyfRNGBSeqNtvhm554A0kfh3Euf2oicjeGOI3oRVXPvETSxOuBhiIQ+pJSn9qDnkntLlS3swX29OPqzTzZQ/Qpm8rGlCmcJIUeFfplrMmAZs+dgFTo/hcxvWzVHC3b+6XvQkGy9NR9Tc0hnm7yTFdExnP8rHeVDNHtU4E+yvjKYA/uvacyDEJ/tXeSwHCgUjIljiY=
  file: ${RELEASE_PKG_FILE}
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_PHP_VERSION = 7.4
    repo: interfax/interfax-php
